@font-face {
    font-family: 'Norse';
    font-style: normal;
    font-weight: 400;
    src: url(/assets/norse/Norsebold.otf) format('opentype');
}

:root {
    --main-colour: #970f0c;
    --secondary-colour: #1a3f7f;
    --secondary-compliment: #ffffff;
    --button-shadow: #185b88b2;
    --no-op-colour: #aaa;

    --sc-l60: #6b96e1;
    --secondary-background-colour: #eeeeee;
    --neutral: #ccc;
    --fire: #d65a22;
    --shadow: #424344;
    --metal: #7e807f;
    --light: #4d77c9;
    --death: #ac40c2;
    --life: #1d8858;
    --beasts: #bf8106;
    --heavens: #d4d6d5;
    --white: #ffffff;

    --error: var(--main-colour);

    --display-font: 'Roboto Slab', serif;
    --body-font: 'PT Sans', sans-serif;

    --secondary-border: 2px solid var(--secondary-colour);
}

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    color: #333;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
}

a {
    color: rgb(0, 100, 200);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: rgb(0, 80, 160);
}

label {
    display: block;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    -webkit-padding: 0.4em 0;
    padding: 0.4em;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
}

select {
    margin: 0;
    color: #333;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('/assets/images/dropdown.svg') no-repeat;
    background-size: 12px;
    background-position: 97% 72%;
    padding-right: 24px;
    background-repeat: no-repeat;
    border-color: #ccc;
}

input:placeholder-shown {
    font-style: italic;
}

input:disabled {
    color: #ccc;
}

table {
    border-collapse: collapse;
}
th,
td,
tr {
    padding: 8px;
    text-align: center;
}
th,
td,
tr {
    border: none;
}
table {
    border: 1px solid #ccc;
}
tr {
    background-color: white;
}
tr:nth-of-type(even) {
    background-color: #eee;
}
thead > tr {
    background-color: var(--main-colour);
    color: white;
    text-transform: uppercase;
}

@media screen and (max-width: 783px) {
    input,
    select {
        font-size: 16px;
    }
}
.print-only {
    display: none;
}
@media print {
    body {
        font-size: 10px;
    }
    th,
    td,
    tr {
        padding: 5px !important;
        border: none;
    }
    /* th,
    thead,
    thead > tr {
        background-color: #333 !important;
    } */
    tr > th,
    thead > tr {
        background-color: transparent !important;
        color: black !important;
    }

    .roster-table {
        width: 100%;
    }
    th,
    td,
    tr {
        border: 1px solid #333 !important;
    }
    table {
        border: 1px solid #333 !important;
    }
    .no-print {
        display: none !important;
    }
    .print-only {
        display: inline-block;
    }
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 1;
    transition: font-variation-settings 0.1s linear, scale 0.1s linear;
}

.material-symbols-outlined:hover {
    font-variation-settings: 'FILL' 0;
}

.symbol-empty {
    font-variation-settings: 'FILL' 0;
}

.no-transition {
    transition: none;
}
.no-transition:hover {
    font-variation-settings: 'FILL' 1;
}
.no-op {
    cursor: default;
    color: var(--no-op-colour);
}
.roll {
    animation-name: spin;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}
.boxed-div {
    border-radius: 12px;
    padding: 12px;
    background-color: var(--secondary-background-colour);
}
.center {
    text-align: center;
}
.mini-title {
    color: var(--main-colour);
    font-family: var(--display-font);
    margin: 0;
}
.rounded-button {
    border-radius: 12px;
    background-color: var(--secondary-compliment);
    color: var(--secondary-colour);
    padding: 8px;
    margin: 4px;
    border: var(--secondary-border);
    transition: background-color 100ms linear;
    min-width: 48px;
}
.rounded-button:hover,
.rounded-button.selected {
    background-color: var(--secondary-colour);
    color: var(--secondary-compliment);
    border-color: var(--secondary-colour);
}
.rounded-button:disabled {
    background-color: white;
    color: grey;
    border: none;
}
.rounded-button:hover {
    box-shadow: 0 4px 12px var(--button-shadow) inset;
}
.rounded-button.cancel {
    color: var(--main-colour);
    border-color: var(--main-colour);
}
.rounded-button.cancel:hover {
    color: white;
    background-color: var(--main-colour);
}
.rounded-button:disabled {
    border: none;
    color: grey;
}
.rounded-button:disabled:hover {
    box-shadow: none;
    background-color: white;
    color: grey;
}
.left-align {
    text-align: left;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

label {
    font-family: var(--display-font);
}

.error {
    color: var(--error);
}
