:root {
    --main-colour: #970f0c;
    --secondary-colour: #1a3f7f;
    --sc-l60: #6b96e1;
    --secondary-background-colour: #eeeeee;
    --neutral: #ccc;
    --fire: #d65a22;
    --shadow: #424344;
    --metal: #7e807f;
    --light: #4d77c9;
    --death: #ac40c2;
    --life: #1d8858;
    --beasts: #bf8106;
    --heavens: #d4d6d5;

    --display-font: 'Roboto Slab', serif;

    --secondary-border: 2px solid var(--secondary-colour);
}

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    color: #333;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
}

a {
    color: rgb(0, 100, 200);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: rgb(0, 80, 160);
}

label {
    display: block;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    -webkit-padding: 0.4em 0;
    padding: 0.4em;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
}

select {
    margin: 0;
    color: #333;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('/assets/images/dropdown.svg') no-repeat;
    background-size: 12px;
    background-position: 97% 72%;
    padding-right: 24px;
    background-repeat: no-repeat;
    border-color: #ccc;
    border-radius: 12px;
}

input:placeholder-shown {
    font-style: italic;
}

input:disabled {
    color: #ccc;
}

table {
    border-collapse: collapse;
}
td,
tr {
    padding: 8px;
    text-align: center;
}
th,
td,
tr {
    border: none;
}
table {
    border: 1px solid #ccc;
}
tr:nth-of-type(even) {
    background: #eee;
}
thead {
    background-color: #970f0c;
    color: white;
    text-transform: uppercase;
}

@media screen and (max-width: 783px) {
    input,
    select {
        font-size: 16px;
    }
}

@media print {
    body {
        font-size: 10px;
    }
    th,
    td,
    tr {
        padding: 5px !important;
        border: none;
    }
    thead {
        background-color: #333 !important;
    }
    table {
        border: 1px solid #333 !important;
    }
    .no-print {
        display: none;
    }
}
