html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    color: #333;
    margin: 0;
    padding: 8px;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
}

a {
    color: rgb(0, 100, 200);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: rgb(0, 80, 160);
}

label {
    display: block;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    -webkit-padding: 0.4em 0;
    padding: 0.4em;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
}

input {
    border: 0;
    border-radius: 0;
    background: none;
}

input:placeholder-shown {
    font-style: italic;
}

input:disabled {
    color: #ccc;
}

table {
    border-collapse: collapse;
}
td,
tr {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}
tr:nth-of-type(even) {
    background: #eee;
}
thead {
    background-color: #970f0c;
    color: white;
    text-transform: uppercase;
}
