@mixin rounded-button {
    border-radius: 12px;
    background-color: white;
    color: var(--secondary-colour);
    // padding: 10px;
    margin: 4px;
    border: var(--secondary-border);
    transition: background-color 100ms linear;
    min-width: 48px;

    &:hover,
    &.selected {
        background-color: var(--secondary-colour);
        color: white;
        border-color: var(--secondary-colour);
        &:disabled {
            background-color: white;
            color: grey;
            border: none;
        }
    }
    &:hover {
        box-shadow: 0 5px 15px #185b88b2 inset;
    }
    &:disabled {
        border: none;
        color: grey;
        &:hover{
            box-shadow: none;
        }
    }

    &.cancel {
        color: var(--main-colour);
        border-color: var(--main-colour);

        &:hover {
            color: white;
            background-color: var(--main-colour);
        }
    }
}
