@mixin rounded-button {
    border-radius: 12px;
    background-color: var(--secondary-compliment);
    color: var(--secondary-colour);
    padding: 8px;
    margin: 4px;
    border: var(--secondary-border);
    transition: background-color 100ms linear;
    min-width: 48px;

    &:hover,
    &.selected {
        background-color: var(--secondary-colour);
        color: var(--secondary-compliment);
        border-color: var(--secondary-colour);
        &:disabled {
            background-color: var(--secondary-compliment);
            color: grey;
            border: none;
        }
    }
    &:hover {
        box-shadow: 0 5px 15px var(--button-shadow) inset;
    }
    &.cancel {
        color: var(--main-colour);
        border-color: var(--main-colour);

        &:hover {
            color: white;
            background-color: var(--main-colour);
        }
    }
    &:disabled {
        border: none;
        color: grey;
        &:hover {
            box-shadow: none;
            background-color: white;
            color: grey;
        }
    }
}
